<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="csspageappel.css">
    <title>Ma Page</title>
</head>

<body>
    <img src="logoismag.jpg" alt="Logo de l'entreprise">
    <h1>Recapitulation des absences par étudiants</h1>
    <label id="choixetudiant">Choisir un étudiants</label>
        <select id="etudiants">
            <option value="etudiant1">etudiant 1</option>
            <option value="etudiant2">etudiant 2</option>
            <option value="etudiant3">etudiant 3</option>
            <!-- devra afficher la liste des etudiant une fois importé -->
        </select>
        <button id="validation">validé</button>
            <!-- affichera le nombre d'heure ou l'etudiant c'est absenté -->
    
    <h1>Recapitulation des absences par UE</h1>
    <label id="choixUE">Choisir un UE</label>
    <select id="UE">
        <option value="MI0B702T">MI0B702T</option>
        <option value="MI0B703T">MI0B703T</option>
        <option value="MI0B704T">MI0B704T</option>
        <option value="MI0B705T">MI0B705T</option>
        <option value="MI0B706T">MI0B706T</option>
        <option value="MI0B708V">MI0B708V</option>
        <option value="MI0B708T">MI0B708T</option>
        <option value="MI0B802T">MI0B802T</option>
        <option value="MI0B803T">MI0B803T</option>
        <option value="MI0B804T">MI0B804T</option>
        <option value="MI0B805T">MI0B805T</option>
        <option value="MI0B806T">MI0B806T</option>
        <option value="MI0B807T">MI0B807T</option>
    </select>
    <button id="validation">validé</button>
        <!-- affichera le nombre d'étudiant qui sont absent par UE -->




</body>
</html>